<ul>
<li>
<div class="list_item">
<p class="archive__item-excerpt" itemprop="description">:0<b>胡衍</b>, 王浩, 毕阿璇, 刘江。"0", 发明, 授权, 202010135476.1</p>
</div>
</li>
<li>
<div class="list_item">
<p class="archive__item-excerpt" itemprop="description">:1李衡, 刘浩锋, 刘江, <b>胡衍</b>。"1", 发明, 授权, 202110771823.4</p>
</div>
</li>
<li>
<div class="list_item">
<p class="archive__item-excerpt" itemprop="description">:2曾鸣, 刘江, <b>胡衍</b>, 邱忠喜。"2", 发明, 实审, 202110760584.2</p>
</div>
</li>
<li>
<div class="list_item">
<p class="archive__item-excerpt" itemprop="description">:3李衡, 刘浩锋, 刘江, <b>胡衍</b>。"3", 发明, 实审, 202110810901.7</p>
</div>
</li>
<li>
<div class="list_item">
<p class="archive__item-excerpt" itemprop="description">:4李衡, 刘浩锋, 刘江, <b>胡衍</b>。"4", 发明, 实审, 202110842739.7</p>
</div>
</li>
<li>
<div class="list_item">
<p class="archive__item-excerpt" itemprop="description">:5<b>胡衍</b>, 刘江, 毕阿璇。"5", 发明, 实审, 202111050172.6</p>
</div>
</li>
<li>
<div class="list_item">
<p class="archive__item-excerpt" itemprop="description">:6刘江, 郝洛莹, <b>胡衍</b>。"6", 发明, 实审, 202111098916.1</p>
</div>
</li>
<li>
<div class="list_item">
<p class="archive__item-excerpt" itemprop="description">:7<b>胡衍</b>, 周心怡, 周颖泉, 聂秋实, 郝洛莹, 刘江。"7", 发明, 实审, 202111068531.0</p>
</div>
</li>
<li>
<div class="list_item">
<p class="archive__item-excerpt" itemprop="description">:8李衡, 刘浩锋, 刘江, <b>胡衍</b>。"8", 发明, 实审, 202111003767.6</p>
</div>
</li>
<li>
<div class="list_item">
<p class="archive__item-excerpt" itemprop="description">:9刘江、东田理沙、张颖麟、章晓庆、刘鹏、杨冰、胡衍、李衡。"9", 发明, 实审, 202111024233.1</p>
</div>
</li>
<li>
<div class="list_item">
<p class="archive__item-excerpt" itemprop="description">:10刘江、李衡、刘浩锋、胡衍。"10", 发明, 实审, 2022105727623.0</p>
</div>
</li>
<li>
<div class="list_item">
<p class="archive__item-excerpt" itemprop="description">:11刘江、李衡、区明阳、刘浩锋、胡衍。"11", 发明, 实审, 2022106344657.0</p>
</div>
</li>
<li>
<div class="list_item">
<p class="archive__item-excerpt" itemprop="description">:12金日初，刘江，胡衍，缪函霈，姜泓羊，王星月，曾娜，叶海礼。"12", 发明, 实审, 2022106681627.0</p>
</div>
</li>
<li>
<div class="list_item">
<p class="archive__item-excerpt" itemprop="description">:13金日初，刘江，胡衍，缪函霈，姜泓羊，王星月，曾娜，叶海礼。"13", 发明, 实审, 2022109195512.0</p>
</div>
</li>
<li>
<div class="list_item">
<p class="archive__item-excerpt" itemprop="description">:14<b>胡衍</b>,  邱忠喜,  张嘉奇,  孙沛铖,  刘江。"14", 发明, 实审, 2022106485655.0</p>
</div>
</li>
<li>
<div class="list_item">
<p class="archive__item-excerpt" itemprop="description">:15刘江、刘浩锋、李衡、胡衍。"15", 发明, 实审, 2022112938120.0</p>
</div>
</li>
